<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/style.css' />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <%
        if (typeof userName!=='undefined'){
    %>
          <div include-html="commonHTML/newSideBarUser.html"></div>
    <%
        }else{
    %>
          <div include-html="commonHTML/newSideBar.html"></div>
    <%
        }
    %>
    <script src="commonJS/includeHTML.js"></script>
    <div class= "ContentContainer" id="ContentContainer">
      <div class="ContentField" style="text-align:center">
        <h1><%= title %></h1>
        <table style="margin:auto; width:50%">
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            
          </tr>
          <%
          for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
            if (i>length){
              break; // i가 데이터 갯수보다 많아지면 반복문을 나간다.
            }else{
                    // 그렇지 않다면 데이터를 지속적으로 보낸다.
            
          %>
          <tr>
            <td>
              <%=rows[i].idx%>
            </td>
            <td><a href='post/<%=rows[i].idx%>'><%=rows[i].title%></a></td>
            <td><%=rows[i].nick%></td>
          </tr>
          <%}
          }
          %>
          <tr>
            <td colspan="3" style="padding-top:30px;">
                <%
                for(var j = 0; j < rows.length / page_num; j++){
                %>
                [<a href="/board/list/<%= j + 1 %>"><%= j + 1 %></a>]
                <%
                }
                %>
            </td>
        </tr>
        </table>
        <br>
        <a href="../write/<%=lastidx%>" style="margin-top:50px"><input type="button" value="글 쓰기"></a>
        <br><br>
        <form action="/board/list/filterSelect" method="post">
          <select name="positionSelect" onchange="handleOnChange(this)">
            <option value="Title" selected>제목</option>
            <option value="Author">작성자</option>
            <option value="TitlePContent">제목+내용</option>
          </select>
          <input type="text" name="filterSearch" id="filterSearch" value="Title" readonly hidden>
          <input type="text" name="textContent">
          <input type="submit" value="검색">
        </form>
      </div>
    </div>
  </body>
  <script>
    function handleOnChange(e){
      const value = e.value;
      const target = document.getElementById('filterSearch');
      document.getElementById('filterSearch').value = value;
    }
  </script>
  <script>
    window.onload=function(){
      let menuBtn = document.querySelector('#menuBtn');
      let sideBar = document.getElementById('sideMenu');
      let bottomContent = document.getElementById('guestContent');
      let contentContainer = document.querySelector('#ContentContainer');
      menuBtn.addEventListener('click',function(){
          sideBar.classList.toggle('active');
          bottomContent.classList.toggle('active');
          contentContainer.classList.toggle('active');
      })
    }
  </script>
</html>