<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/style.css' />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <div include-html="commonHTML/newSideBarUser.html"></div>
    <script src="commonJS/includeHTML.js"></script>
    <div class= "ContentContainer" id="ContentContainer">
      <div class="ContentField">
        <table style="width:80vw; height:80vh; padding-left:50px;" frame=void>
          <%
          for(var i = 0; i<rows.length; i++)
          {
          %>
          <tr>
            <td colspan="2" style="height:10%" ><h1><strong><%=rows[i].title%></strong></h1></td>
          </tr>
          <tr>
            <td><%=rows[i].nick%> 조회수: <%=rows[i].hit%> 추천수: <%=rows[i].recommend%></td>
          </tr>
          <tr>
            <%
            for(var j =0; j<fileName.length; j++){
            %>
            <td style="height:10%"><a href="/fileDownload/<%=rows[i].idx%>/<%=fileName[j]%>"><%=fileName[j]%></a></td>
            <%
              }
            %>
          </tr>
          <tr>
            <%
            for(var j =0; j<imgPaths.length; j++){
            %>
            <td id= 'imgs' style="height:10%" hidden><img src="../../../<%=imgPaths[j]%>"></a></td>
            <%
              }
            %>
          </tr>
          <tr>
            <td>
              <input type="button" id="imageShowBtn" value="첨부된 이미지 보기" onclick="imageShow()">
              <input type="button" id="imageHideBtn" value="이미지 닫기" onclick="imageHidden()" hidden>
            </td>
          </tr>
          <tr style="height:100%;">
            <td colspan="<%=fileName.length%>" style="vertical-align:top; padding-top:20px;"><%=rows[i].content%></td>
          </tr>
            
          <%
          }
          %>
          <tr>
            <td colspan="<%=fileName.length%>" style="text-align:right;">
              <a href="/board/list"><input type="button" value="목록"></a>
              <a href="/recommendDel/<%=rows[0].idx%>"><input type="button" value="추천 해제"></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
  <script>
    function imageShow(){
      document.getElementById('imageShowBtn').setAttribute('hidden','hidden');
      document.getElementById('imageHideBtn').removeAttribute('hidden');
      document.getElementById('imgs').removeAttribute('hidden');
    }
    function imageHidden(){
      document.getElementById('imageShowBtn').removeAttribute('hidden');
      document.getElementById('imageHideBtn').setAttribute('hidden','hidden');
      document.getElementById('imgs').setAttribute('hidden','hidden');
    }
  </script>
  <script>
    window.onload=function(){
      let menuBtn = document.querySelector('#menuBtn');
      let sideBar = document.getElementById('sideMenu');
      let bottomContent = document.getElementById('guestContent');
      let contentContainer = document.querySelector('#ContentContainer');
      menuBtn.addEventListener('click',function(){
          sideBar.classList.toggle('active');
          bottomContent.classList.toggle('active');
          contentContainer.classList.toggle('active');
      })
    }
  </script>
</html>